@model TeduShop.Web.Models.LoginViewModel
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layouts.cshtml";
}
<style>
    .login-right input[type="password"] {
        border: 1px solid #DDDBDB;
        outline-color: #fb4d01;
        width: 96%;
        font-size: 0.9em;
        padding: 10px;
    }
</style>
<div class="account_grid">
    <div class=" login-right">
        <h3>Đăng nhập</h3>
        @using (Html.BeginForm("Login", "Account", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
            <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl">
            <div>
                <span>Tài khoản<label>*</label></span>
                @Html.TextBoxFor(model => model.UserName)
            </div>
            <div>
                <span>Password<label>*</label></span>
                @Html.PasswordFor(model => model.Password)
            </div>
            <div>
                @Html.CheckBoxFor(model => model.RememberMe)
                Nhớ mật khẩu?
            </div>
            <a class="forgot" href="#">Forgot Your Password?</a> //xem lại kia
            <input type="submit" value="Login">
        }
        <!--để bên ngoài cái form thì nó mới nhận được-->
        @Html.Partial("_ExternalLoginsListPartial", new TeduShop.Web.Models.ExternalLoginListViewModel { ReturnUrl = ViewBag.returnUrl })
    </div>
    <div class=" login-left">
        <h3>Chưa có tài khoản</h3>
        <p>Nếu bạn chưa có tài khoản vui lòng đăng kí tại link dưới đây :</p>
        <a class="acount-btn" href="dang-ki.html">Create an Account</a>
    </div>
    <div class="clearfix"> </div>
</div>
